 
.white {
    color: black;
}


.h6 {
  text-align: center;
}

.center {
  text-align: right;
}

div.clearfix.border {
  text-align: center;
  padding: 50px;
}

.content-strip {
  padding: 40px;
}



.fa {
  padding: 5px;
  font-size: 30px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
  
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
  
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}