
nav {
  height: 20px;
}

header {
   height: 400px;
}

#banner {
  background-image: url(images/clouds-fashion-free-103123.jpg);
  background-size: cover;
}


#transparent-background {
  height: auto;
  width: 100%;
  background-color: rgb(255, 255, 255, .6);
}


/* banner text color */
.white {
    color: black;
}


/*button styling */

.btn-primary{
  color: #002d68;
  background-color: rgba(255, 238, 80, 0.9);
  font-size: 20px;
  padding: 14px 60px;
  border-radius: 12px;
  margin-top: 30px;
}

.btn-primary:hover{
  color: #002d68;
  background-color: rgb(255, 238, 80, 0.8);
}

#steps {
  text-align: center;

}


.white {
    color: black;
}

.h6 {
  text-align: center;
}

.border {
  font-size: 50px;
  font-family: 'Marvel', sans-serif;
  font-weight: bold;
}

/* button css */

div.clearfix.border {
  text-align: center;
  margin: 20px 0 20px 0;
  border: none;
}

#steps {
  text-align: center;

}



/* google font used for middle section - instructions for user */

#steps {
  text-align: center;
  font-family: 'Marvel', sans-serif;
  font-size: 20px;
  padding: 120px;
}


.title {
  font-family: 'Marvel', sans-serif;
  font-size: 38px;
  font-weight: bolder;
  
}






/* social media icons*/


.fa {
  padding: 5px;
  font-size: 30px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
  
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
 
  
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}


 /* copyright text centered */
.h6 {
  text-align: center;
}





/*   The following is styling for survey question page  */


a.link {
  width: 100;
}

.survey-content{
 text-align: center;
 font-family: 'Marvel', sans-serif;
 font-size: 50px;
}

#submit{
  background-color: #07836E;
  font-size: 12px;
  padding: 10px 24px;
  border-radius: 12px;
  color: white;
 

}



.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: white;
  color: black;
  text-align: center;
  font-size: 10px;
  font-family: 'Marvel', sans-serif;
}

.m0{
  font-family: 'Marvel', sans-serif;
  font-size: 30px;
  font-weight: 800;
}

.block{
  font-family: 'Marvel', sans-serif;
}





/*   Breakpoints */


@media only screen and (max-width: 992px) {
  #banner {
    background-image: url(images/mobile-clouds-fashion-free.jpg);
    background-size: cover;
  }
}

@media only screen and (max-width: 768px) {
  #banner {
    background-image: url(images/mobile-clouds-fashion-free.jpg);
    background-size: cover;
  }
}

@media only screen and (max-width: 576px) {
  #banner {
    background-image: url(images/mobile-clouds-fashion-free.jpg);
    background-size: cover;
    height: 250px;
  }

  .h1 {
    font-size: 16px;
  }



  .mt4 {
     margin-top: 0;
   }

}

