* {
    box-sizing: border-box;
}

.categoryDiv {
    width: 250px;
    margin: 20px auto;
    text-align: center;
}

.productContainer {
    width: 90%;
    margin: 0 auto;
}

.headerDiv {
    text-align: center;
}

.trHeader {
    background-color: lightseagreen;
    font-size: 40px;
    color: white;
}

.trChildEven {
    background-color: lightcoral;
    font-size: 30px;
}

.trChildOdd {
    background-color: lightsteelblue;
    font-size: 30px;
}

.productDiv {
    width: 250px;
    margin: 20px auto;
}

.productImg {
    width: 240px;
}

.priceDiv {
    text-align: center;
    margin: 120px 0;
}

.optionButton, .storeButton {
    display: block;
    margin: 0 auto;
    width: 200px;
    font-size: 25px;
    padding: 5px;
    margin: 10px auto;
    text-align: center;
}

.optionsDiv {
    margin: 64px 0;
}

/* -------------------------------------------------------------------------------------------------------- */

